<div class="col-md-6 col-sm-12 col-xs-12">
  <div class="col-md-5 col-sm-5 col-xs-5">
    <div class="portfolio-item" style="max-width: 180px;">
      <div class="portfolio-image" style="width: 100%; height: 160px;">
        <% if !recently_updated.public %>
          <div class="ribbon-wrapper">
            <div class="price-ribbon ribbon-green">Private</div>
          </div>
        <% end %>
          <small>
            <br>
            <div id="show-wiki-body">
              <%= markdown(recently_updated.body) %>
            </div>
          </small>
      </div>
    </div>
  </div>
  <div class="col-md-7 col-sm-7 col-xs-7">
    <div style="max-height: 70px; overflow: hidden;" >
      <h3><%= recently_updated.title %></h3>
    </div>
      <p> 
        Project Owner: <span style="<%= "color: #D9534F" unless recently_updated.creator == @user %>"> <%=recently_updated.creator.username %> </span>
        <br>
        Created on:  <%= recently_updated.created_at.strftime("%B #{recently_updated.created_at.day.ordinalize}, %Y")  %>
      </p>
      <p class="read-more">
        <%= link_to "View Wiki", wiki_path(recently_updated), class: "btn btn-success" %>  
        <% if policy(recently_updated).edit? %>
          <%= link_to "Edit Wiki", edit_wiki_path(recently_updated), class: "btn btn-success", data: {no_turbolink: true} %> 
        <% end %>
      </p>
  </div>
</div>