<div class="col-md-6">
  <div class="portfolio-item">
    <div class="portfolio-image" style="width: 100%; height: 300px;">
      <% if !wikithumb.public %>
        <div class="ribbon-wrapper">
          <div class="price-ribbon ribbon-green">Private</div>
        </div>
      <% end %>
        <small>
          <br>
          <div id="show-wiki-body">
            <%= markdown(wikithumb.body) %>
          </div>
        </small>
    </div>
    <div class="portfolio-info-fade">
      <ul>
        <li class="portfolio-project-name"><%= wikithumb.title %></li>
        <li>Project Owner:  <%= wikithumb.creator.username %> </li>
        <li>Created on:  <%= wikithumb.created_at.strftime("%B #{wikithumb.created_at.day.ordinalize}, %Y")  %> </li>
        <li class="read-more"><%= link_to "View Wiki", wiki_path(wikithumb), class: "btn btn-success" %>  <%= link_to "Edit Wiki", edit_wiki_path(wikithumb), class: "btn btn-success", data: {no_turbolink: true} %> </li>
      </ul>
    </div>
  </div>
</div>