<script type="text/javascript">
  // This identifies your website in the createToken call below
  Stripe.setPublishableKey("<%= "#{Rails.configuration.stripe[:publishable_key]}" %>");
</script>

<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      $('user_rating_positve').click(function() {
        $('some_div').show();
      }
    });
  </script>
  <script type="text/javascript" src="https://www.google.com/jsapi">
  </script>
  <script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Task', 'Hours per Day'],
        ['Work',     11],
        ['Eat',      2],
        ['Commute',  2],
        ['Watch TV', 2],
        ['Sleep',    7]
      ]);

      var options = {
        title: 'My Daily Activities'
      };

      var chart = new google.visualization.PieChart(document.getElementById('piechart'));
      chart.draw(data, options);
    }
  </script>
<% end %>



<div class="container">
<br>
<div class="row">
  <div class="col-md-12">
    <div class="loginpricingdiv">
        <div class="pricing-wrapper">
          <div class="pricing-plan <%= "pricing-plan-promote" if @plan.pid == 0 %>">
            <% if @plan.pid == 0 %>
              <div class="ribbon-wrapper">
                <div class="price-ribbon ribbon-green">Selected</div>
              </div>
            <% end %>
            <h2 class="pricing-plan-title">Basic</h2>
            <div class="pricing-plan-price">FREE</div>
            <ul class="pricing-plan-features">
              <li><strong>1</strong> user</li>
              <li><strong>Unlimited</strong> projects</li>
              <li><strong>2GB</strong> storage</li>
            </ul>
            <%= link_to "Select plan", new_subscription_path(plan: 0), class: "btn" %>
            
          </div>
          <div class="pricing-plan <%= "pricing-plan-promote" if @plan.pid == 1 %>">
            <% if @plan.pid == 1 %>
              <div class="ribbon-wrapper">
                <div class="price-ribbon ribbon-green">Selected</div>
              </div>
            <% end %>
            <h2 class="pricing-plan-title">Premium</h2>
            <div class="pricing-plan-price">$10<span>/mo</span></div>
            <ul class="pricing-plan-features">
              <li><strong>10</strong> users</li>
              <li><strong>Unlimited</strong> projects</li>
              <li><strong>20GB</strong> storage</li>
            </ul>
            <%= link_to "Select plan", new_subscription_path(plan: 1), class: "btn" %>
          </div>
          <div class="pricing-plan <%= "pricing-plan-promote" if @plan.pid == 2 %>">
            <% if @plan.pid == 2 %>
              <div class="ribbon-wrapper">
                <div class="price-ribbon ribbon-green">Selected</div>
              </div>
            <% end %>
            <h2 class="pricing-plan-title">Enterprise</h2>
            <div class="pricing-plan-price">$50<span>/mo</span></div>
            <ul class="pricing-plan-features">
              <li><strong>Unlimited</strong> users</li>
              <li><strong>Unlimited</strong> projects</li>
              <li><strong>100GB</strong> storage</li>
            </ul>
          <%= link_to "Select plan", new_subscription_path(plan: 2), class: "btn" %>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="logindiv">
          <div class="basic-login">
            <%= form_tag subscriptions_path,  class: 'form-stacked', id: 'payment-form' do |f| %>
              <noscript>
                <p>This form requires Javascript to use</p>
              </noscript>

              <div>
                <h2>Create your account</h2>
              </div>

              <div><%= label_tag :username %><br />
                 <%= text_field_tag :username, nil , autofocus: true, class: 'form-control' %></div>
              <br>
              <div><%= label_tag :email %><br />
              <%= email_field_tag :email, nil , class: 'form-control' %></div>
              <br>
              <div><%= label_tag :password %><br />
                <%= password_field_tag :password, nil , autocomplete: "off", class: 'form-control' %></div>
              <br>
              <div><%= label_tag :password_confirmation %><br />
                <%= password_field_tag :password_confirmation, nil , autocomplete: "off", class: 'form-control' %></div>
              <br>

              <div id="credit-card" style="display:block" class="<%= "hide" if @plan.pid == 0 %>">
                <div id="credit-card-errors" style="display:none">
                  <div id="stripe-error-message" class="alert-message block-message error">
                  </div>
                </div>

                <div>
                  <h2>Enter Billing information</h2>
                </div>

                <!-- these fields are disabled before submission and are never transmitted back to rails -->
                <div><%= label_tag :credit_card_number %>
                 <%= text_field_tag :number, nil, class: 'form-control', autocomplete: 'off' %></div>

                <br>
                <div><%= label_tag :cvc, "Security code (CVC)" %>
                 <%= text_field_tag :cvc, nil, class: 'form-control', autocomplete: 'off' %></div>

                <br>
                <div class="field">
                  <%= label_tag :card_month, "Card Expiration" %>
                  <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: 'exp_year', id: "exp_year", class: 'form-control'}%>
                  <%= select_month nil, {add_month_numbers: true}, {name: 'exp_month', id: "exp_month", class: 'ccExp form-control'} %>
                </div>

                <div class="note">
                  Your credit card details will be sent directly to our payment processor
                </div>

              </div>
              <%= hidden_field_tag "plan_id", @plan.pid %>
              <br>
              <div class="field">
                <%= submit_tag "Sign Up" , class: "btn pull-right" %>
              </div>

              <br><br>

            <% end %>

          </div>
    </div>
  </div>
</div>